{% extends 'base.html' %} 

{% block container %}


<section class="home-container">
    <h1>Today's Reminders</h1>
    {% for data in dummyData %}
        <div class="content">
            <div class="label">
                <h2>{{data.label}}</h2>
            </div>
            <div class="title">
                <span class="material-icons">
                    clear
                </span>
                <p>{{data.title}}</p>
                <a class="edit-icon" href="{{url_for('edit')}}">
                    <span class="material-icons">
                        edit
                    </span>
                </a>

            </div>
            
        </div>
    {% endfor %}
</section>


{% endblock %}
